* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #eee;
  color: #3f3f3f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  font-size: 14px;
}
section, footer, main, header, aside{
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 10px 0;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
img {
  max-width: 100%;
  border: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}