* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #efefef;
  color: #3f3f3f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  font-size: 14px;
}
section, footer, main, header, aside{
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 10px 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style: none;
}
img {
  max-width: 100%;
  border: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 200px;
}
.left-nav {
  float: left;
}
.right-nav {
  float: right;
}
main {
  overflow: hidden;
}
/* .main-content, .sidebar {
  width: 100%;
} */

nav {
  background-color: #FF6144;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo {
    float: left;
    width: 200px;
  }
  .navbar ul li {
    display: inline-block;
    padding: 10px 0 10px 15px;
  }
  .main-content {
    float: left;
    width: 75%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}