* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #efefef;
  color: #3f3f3f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  font-size: 14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
section, footer, main, header, aside{
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 10px 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style: none;
}
img {
  max-width: 100%;
  border: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
}
.left-nav {
  float: left;
}
.right-nav {
  float: right;
}
main {
  overflow: hidden;
  padding: 30px 0;
  flex: 1;
}
#footer {
  background: #333;
  color: #eee;
  padding: 15px 0;
}

nav {
  background-color: #FF6144;
  height: 60px;
  line-height: 60px;
}
.navbar {
  min-height: 80px;
}
.navbar ul li {
  display: none;
}
.navbar ul li a {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.main-content, .sidebar {
  width: 100%;
}
.content-wrap {
  margin: 0 0 30px;
  overflow: hidden;
}
.content-figure {
  float: left;
  width: 12%;
  margin-right: 5px;
}
.content {
  float: left;
  width: 86%;
}
.content-header {
  border-bottom: 1px solid #dedede;
  margin: 0 0 9px;
}
.content-header small {
  margin-top: -10px;
  display: block;
}
.content-figure {
  float: left;
  width: 40px;
  margin-right: 5px;
}
.thumbnail {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .logo {
    float: left;
    width: 200px;
  }
  .navbar ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .main-content {
    float: left;
    width: 75%;
  }
  .content-figure {
    width: 5%;
    margin: 0 10px 0 0;
    float: left;
  }
  .content{
    float: left;
    width: 93%;
  }
  .sidebar {
    float: left;
    width: 25%;
  }
  .widget {
    padding: 0 20px 20px;
  }
  .sidebar .widget li {
    border-bottom: 1px solid #dedede;
    padding: 5px;
  }
}
@media (min-width: 992px) { 
  
}
@media (min-width: 1200px) {
  
}